/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: #4372f1;
  --second-color: #0d1730;
  --third-color: rgb(219, 219, 219);
  --light-blue: hsl(194, 35%, 93%);
  --first-dark-color: #51a5ff;
  --second-dark-color: hsl(194, 35%, 93%);
  --dark-bg-color: #18181b;
  --header-bg-color: #18181b;
  /* --dark-footer-color: #2c2c41; */
  /*===== Fuente y tipografia =====*/
  font-family: 'Montserrat', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (max-width: 1250px) {
  .work__container  {
    grid-template-columns: repeat(2, auto) !important;
    justify-content: space-evenly !important;
  }

}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

.hidden {
  display: none !important;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 32px !important;
  padding-right: 32px !important;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  
  /* padding: 0 32px; */
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.theme-switcher-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-switcher.dark .switcher-btn{
  transform: translate(35px, 0);
  transition: all 0.5s;
  transition-property: transform background-color;
}

.theme-switcher.light .switcher-btn{
  transform: translate(0, 0);
  transition: all 0.5s;
  transition-property: transform background-color;
}

.theme-switcher {
  box-sizing: border-box;
  width: 70px;
  height: 34px;
  border: 2px solid var(--first-color);
  border-radius: 17px;
  cursor: pointer;
  position: relative;
}

.theme-switcher > .switcher-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 3px;
  background-color: var(--dark-bg-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switcher > .switcher-btn > i {
  margin-right: 1px;
  color: white;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  margin-top: 50px;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2rem;
  color: var(--second-color);
}

.logo-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
  display: block;
  border: 2px solid var(--first-color);
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home__blob {
  fill: var(--first-color);
}

.home__blob-img {
  width: 380px;

}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  border: 2px solid var(--first-color);
}
/* Button next to main button */
.button-alt{
  display: inline-block;
  background-color: transparent;
  color: var(--first-color);
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  margin-left: 1rem;
  border: 2px solid var(--first-color);
}
.button:hover{
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.button-alt:hover{
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}

.button-alt i{
  margin-left: 5px;
  font-size: 20px;
}
/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__container div{
  width: 100%;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}
.about__text{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 180%;
}

/* ===== SKILLS =====*/
/* .skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: .5rem;
} */

/* ===== WORK =====*/
.project-card {
  width: 365px;
  height: 480px;
  border: 1px solid var(--third-color);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.project-card:hover {
  transform: rotate(1deg);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.project-card:not(:hover) {
  transition: all 0.3s ease-in-out;
}

.project-card .img-container {
  position: relative;
  display: flex;
}

.project-card .img-container .modal {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.project-card .img-container .modal i{
  font-size: 64px;
  color: #e2eaf0;
}

.project-card .img-container:hover .modal {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 108, 200, 0.4);
}

.project-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.project-card .card-body {
  flex: 1;
  color: var(--second-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.project-card .card-body > h3 {
  /* min-height: 50px; */
  color: var(--second-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-card .card-body > p {
  color: var(--second-color);
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-card .card-body .badges {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.project-card .card-body .badges span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
  height: 22px;
  font-size: 10px;
  border-radius: 11px;
  padding: 0 5px;
  border: 1px solid rgb(94, 100, 206);
  color: rgb(28, 33, 132);
}

.project-card .card-body .card-footer {
  width: calc(100% - 25px);
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.project-card .card-body .card-footer button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--first-color);
  background-color: transparent;
  cursor: pointer;
  color: var(--second-color);
}

.modal button.second-btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #EDEDED;
  cursor: pointer;
  border: none;
  color: var(--first-color);
}

.modal button.second-btn:hover {
  background-color: var(--light-blue);
}

.project-card .card-body .card-footer button:hover {
  background-color: var(--first-color);
  color: white;
}

.project-card .card-body .card-footer button.second-btn {
  border: none;
  color: var(--first-color);
}

.project-card .card-body .card-footer button.second-btn:hover {
  background-color: var(--light-blue);
}

.card{
  width: 350px;
  height: 450px;
  border-radius: 15px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 114, 176, 0.3), #320447);
  z-index: 2;
  transition: 1s all;
  opacity: 0.8;
}


.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}


.card .info h1{
  margin: 0;
}

.card .info p{
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.card .info h1{
  letter-spacing: 1px;
  font-size: 18px;
}
.card .info .tech_stack{
  max-width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
}
.card .info .tech_stack span{
  font-size: 11px;
  padding: 5px;
  border: 2px solid #e3f18d;
  border-radius: 12px;
  color: #e3f18d;
  background-color: #383838;
}
.card .info .btn{
  text-decoration: none;
  padding: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.work__container {
  row-gap: 2rem;
}
.work__img {
  /* border: 2px solid rgba(23, 114, 240, 0.6); */
  box-shadow: 0px 4px 7px rgba(23, 114, 240, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.work__img:hover {
  box-shadow: 0px 0px 3px rgba(23, 114, 240, 0.8);
  overflow: hidden;
}

.post-image {
  height: 70%;
  border-radius: 5px;
}


.post-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  font-weight: lighter;
  color: #333;
  width: 100%;
  font-size: 13px;
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 30%;
  text-align: justify;
}


/* ===== CONTACT =====*/
.contact__input {
  font-weight: normal;
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: hsl(var(--hue-color), 56%, 12%);
  color: #fff;
  border-top: 1px solid #AAA;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .home__img {
    position: absolute !important;
    bottom: 60px !important;
  }
}
@media screen and (max-width: 400px) {
  .home__blob {
    width: 250px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 610px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (max-width: 450px) {
  .work__container {
    grid-template-columns: repeat(1, auto) !important;
    column-gap: 2rem!important;
    padding-top: 2rem!important;
  }

  .section {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .about__text{
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .home__img {
    width: 300px !important;
    bottom: 60px !important;
  }
  
  .work__container {
    grid-template-columns: repeat(1, auto) !important;
    column-gap: 2rem!important;
    padding-top: 2rem!important;
  }
}

@media screen and (max-width: 750px) {
  .home__img {
    /* width: 250px !important;
    bottom: 150px !important; */
  }

  .home__data {
    display: flex;
    flex-direction: column;
  }

  .home__data a {
    width: 240px;
    margin: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .home.bd-grid {
    /* display: flex;
    flex-direction: column; */
    
    /* row-gap: 0; */
  }
  /* .home.bd-grid > * {
    position: relative;
  } */
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 0;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.languages {
  display: flex;
  gap: 10px;
  align-items: center;
}

.languages a {
  color: var(--dark-bg-color);
  cursor: pointer;
  font-weight: 400;
}

.languages span {
  color: var(--first-color);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.languages span::after {
  content: "";
  display: block;
  position: absolute;
  margin-bottom: -4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--first-color);
}

.languages span a:hover {
  color: var(--first-color);
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 7rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

/* DARK THEME CSS SECTION (START)*/
body.dark-theme {
  background-color: var(--dark-bg-color);
  color: var(--second-dark-color);
}

body.dark-theme .section-title {
  color: var(--first-dark-color);
}

body.dark-theme .section-title::after {
  background-color: var(--first-dark-color);
}

body.dark-theme .l-header {
  background-color: var(--header-bg-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

body.dark-theme .nav__link {
  color: white;
}

body.dark-theme .languages a {
  color: white;
  cursor: pointer;
}

body.dark-theme .nav__link:hover::after {
  background-color: white;
}

body.dark-theme .nav__link.active::after {
  background-color: var(--first-dark-color);
}

body.dark-theme .home__social-icon {
  color: var(--second-dark-color);
}

body.dark-theme .home__social-icon:hover {
  color: var(--first-dark-color);
}

body.dark-theme .home__blob {
  fill: var(--first-dark-color);
}

body.dark-theme .button {
  background-color: var(--first-dark-color);
  color: var(--dark-bg-color);
  border: 2px solid var(--first-dark-color);
}

body.dark-theme .button-alt{
  background-color: transparent;
  color: var(--first-dark-color);
  border: 2px solid var(--first-dark-color);
}

body.dark-theme .nav__logo {
  color: White;
}

body.dark-theme .theme-switcher-container {
  color: var(--first-dark-color);
}

body.dark-theme .theme-switcher {
  border: 2px solid var(--first-dark-color);
}

body.dark-theme .theme-switcher > .switcher-btn {
  background-color: white;
}

body.dark-theme .theme-switcher > .switcher-btn > i {
  color: var(--dark-bg-color);
}

body.dark-theme .home__title-color {
  color: var(--first-dark-color);
}

body.dark-theme .button-alt:hover{
  background-color: var(--first-dark-color);
  color: var(--dark-bg-color);
}

body.dark-theme .contact__input {
  border: 1.5px solid rgb(196, 196, 196);
  background-color: transparent;
  color: #ffffff;
}

body.dark-theme .contact__input:focus {
  border: 1.5px solid var(--first-dark-color);
}

body.dark-theme .contact__input::placeholder {
  color: rgb(176, 193, 209);
  font-weight: 400;
}

body.dark-theme .project-card {
  border-color: white;
  background-color: rgb(35, 35, 35);
  border: none;
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

body.dark-theme .project-card:hover {
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.2);
}

body.dark-theme .project-card .card-body {
  color: #EFEFEF;
}

body.dark-theme .project-card .card-body > h3 {
  color: #EFEFEF;
}

body.dark-theme .project-card .card-body > p {
  color: #EFEFEF;
}

body.dark-theme .project-card .card-body  button {
  color: #EFEFEF;
}

body.dark-theme .project-card .card-body .badges span {
  color: #EFEFEF;
}

body.dark-theme .footer {
  background-color: var(--dark-bg-color);
}
/* DARK THEME CSS SECTION (END)*/
